Xcursor.size: 11

URxvt.font: xft:Noto Mono:size=11,style=regular
URxvt.boldFont: xft:Noto Mono:size=11,style=bold
URxvt.italicFont: xft:Noto Mono:size=11,style=bold
URxvt.boldItalicFont: xft:Noto Mono:size=11,style=bold

URxvt.scrollBar: false

URxvt.internalBorder: 8

! special
*.foreground:   #464b50
*.background:   #ffffff
*.cursorColor:  #464b50

! black
*.color0:       #1e1e1e
*.color8:       #5f5a60

! red
*.color1:       #cf6a4c
*.color9:       #cf6a4c

! green
*.color2:       #8f9d6a
*.color10:      #8f9d6a

! yellow
*.color3:       #f9ee98
*.color11:      #f9ee98

! blue
*.color4:       #7587a6
*.color12:      #7587a6

! magenta
*.color5:       #9b859d
*.color13:      #9b859d

! cyan
*.color6:       #afc4db
*.color14:      #afc4db

! white
*.color7:       #a7a7a7
*.color15:      #ffffff

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #f3f4f5, #1c2023, #1c2023
rofi.color-normal: #f3f4f5, #1c2023, #f3f4f5, #95aec7, #1c2023
rofi.color-active: #f3f4f5, #aec795, #f3f4f5, #aec795, #1c2023
rofi.color-urgent: #f3f4f5, #c795ae, #f3f4f5, #c795ae, #1c2023